<mat-form-field class="input-box">
  <mat-label>Buscar por Nombre...</mat-label>
  <input matInput (keyup)="applyFilter($event)"  #input>
</mat-form-field>
<mat-slide-toggle ngModel name="isChecked">Slide Toggle Checked: {{isChecked}}</mat-slide-toggle>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id" sticky>
      <th mat-header-cell *matHeaderCellDef style="width: 50px;"> Id </th>
      <td mat-cell *matCellDef="let element" style="width: 50px;"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="brandName" style="width: auto;">
      <th mat-header-cell *matHeaderCellDef style="width: auto;"> Marca </th>
      <td mat-cell *matCellDef="let element"> {{element.brandName}} </td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyend>
      <th mat-header-cell *matHeaderCellDef style="text-align: right;width: 110px"></th>
      <td mat-cell *matCellDef="let element" style="text-align: right;width: 110px;">
        <mat-icon style="margin-right: 20px;">edit</mat-icon>
        <mat-icon>delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5]">
  </mat-paginator>
</div>




<app-test-componente><h2>Ng content 1</h2> <h2>Ng content 2</h2> <h2>Ng content 3</h2></app-test-componente>

<button (click)="empleado()" class="btn-primary">Check Empleado</button>
<button (click)="admin()" class="btn-primary">Check Admin</button>
<button (click)="cliente()" class="btn-primary">Check Cliente</button>

<hr>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form>
<hr>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Company (disabled)</mat-label>
    <input matInput disabled value="Google">
  </mat-form-field>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Long Last Name That Will Be Truncated</mat-label>
      <input matInput>
    </mat-form-field></td>
  </tr></table>

  <p>
    <mat-form-field class="example-full-width">
      <mat-label>Address</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Address 2</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </p>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>City</mat-label>
      <input matInput placeholder="Ex. San Francisco">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>State</mat-label>
      <input matInput placeholder="Ex. California">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Postal Code</mat-label>
      <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
      <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
    </mat-form-field></td>
  </tr></table>
</form>