h1 {
    color: white;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }

.input-box {
  width: 100%;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.container {
  max-width: 900px;
  width: 100%;
  height: auto;
  background-color: whitesmoke;
  margin: 0 20px;
  margin-bottom: 1.5em;
  padding: 15px 30px;
  border-radius: 5px;
}

.noData{
  text-align: center;
  height: 100px;
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: #e2e2e2;
}