<div class="container unselectable">
  <div class="d-flex justify-content-between">
    <div class="title">{{title}}</div>
    <button style="margin-bottom: 5px;" mat-stroked-button (click)="navigateToReservations()">Volver</button>
  </div>
  <hr>
  <div *ngIf="action === 'Edit'" class="information">
      <div class="information-title">ID</div>
      <div class="information-content">
          <span>{{currentResId}}</span>
      </div>
  </div>
  <hr *ngIf="action === 'Edit'">
  <div class="content">
    <form [formGroup]="resForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="user-details">

        <mat-form-field class="input-box" appearance="outline" hideRequiredMarker="true">
          <mat-label>Ingresa el rango de la reserva</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input 
              matStartDate 
              placeholder="Fecha Inicio"
              id="startDate"
              class="form-control"
              formControlName="startDate"
            >
            <input 
              matEndDate 
              placeholder="Fecha Fin"
              id="plannedEndDate"
              class="form-control"
              formControlName="plannedEndDate"
            >
          </mat-date-range-input>
          <mat-error *ngIf="resForm.get('plannedEndDate')?.errors?.dateInvalid || resForm.get('startDate')?.errors?.required">
            Ambas fechas son requeridas.
          </mat-error>
          <mat-error *ngIf="resForm.get('startDate')?.errors?.dateInvalid">
            El inicio no puede ser menor a la fecha actual.
          </mat-error>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field class="input-box" appearance="outline" hideRequiredMarker="true">
          <mat-label>Tipo de Documento</mat-label>
          <mat-select
              id="documentType"
              formControlName="documentType"
              (selectionChange)="onDocumentTypeSelected($event)">
              <mat-option value="DNI">DNI</mat-option>
              <mat-option value="Pasaporte">Pasaporte</mat-option>
              <mat-option value="Libreta">Libreta</mat-option>
          </mat-select>
          <mat-error *ngIf="resForm.get('documentType')?.errors?.required">
            El tipo de documento es requerido.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input-box" appearance="outline" hideRequiredMarker="true">
          <mat-label>Seleccione Documento</mat-label>
          <mat-select
              id="documentID"
              formControlName="documentID">
              @for (client of filteredClients; track client) {
                <mat-option [value]="client.id">{{client.documentID}}</mat-option> 
              }
          </mat-select>
          <mat-error *ngIf="resForm.get('documentID')?.errors?.required">
            El documento es requerido.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input-box" appearance="outline" hideRequiredMarker="true">
          <mat-label>Seleccione vehículo</mat-label>
          <mat-select
              id="licensePlate"
              formControlName="licensePlate">
              @for (vehicle of vehicles; track vehicle) {
                <mat-option [value]="vehicle.id">{{vehicle.licensePlate}}</mat-option> 
              }
          </mat-select>
          <mat-error *ngIf="resForm.get('licensePlate')?.errors?.required">
            El vehículo es requerido.
          </mat-error>
        </mat-form-field>
      </div>
      <mat-error *ngIf="errorMessage">
          {{errorMessage}}
      </mat-error>
      <!-- Submit button -->
      <div class="button">
        <button type="submit" [disabled]="resForm.pending">
          <ng-container *ngIf="!resForm.pending; else loading">
            {{buttonText}}
          </ng-container>
          <ng-template #loading>
            <mat-spinner diameter="30"></mat-spinner>
          </ng-template>
          
        </button>
      </div>
    </form>
  </div>
</div>