<div class="card" (click)="placeReservation()">
  <!-- pongo la funcion tambien aca, para que ande cuando sea responsive-->
  <div class="image-box">
    <img src="{{ image }}" alt="Imagen del Modelo" />
  </div>
  <div class="content">
    <h2>{{ brand + " " + vehicleModel }}</h2>
    <p>{{ categoryDescription }}</p>
    <p>Cantidad de Pasajeros: {{ passengerCount }}</p>
    <p>Precio por día: ${{ pricePerDay }}.00</p>
    <p>Valor del Depósito: ${{ deposit }}.00</p>
    <!-- Botón de alquilar -->
    <button class="alquilar-btn" (click)="placeReservation()">Alquilar</button>
  </div>
</div>
