<div class="container unselectable">
  <div class="d-flex justify-content-between">
    <div class="title">{{ title }}</div>
    <button mat-stroked-button (click)="navigateToCategories()">Volver</button>
  </div>
  <hr />
  <div *ngIf="action === 'Edit'" class="information">
    <div class="information-title">ID</div>
    <div class="information-content">
      <span>{{ currentCategoryId }}</span>
    </div>
  </div>
  <hr *ngIf="action === 'Edit'" />
  <div class="content">
    <form
      app-prevent-enter
      [formGroup]="categoryForm"
      (ngSubmit)="onSubmit()"
      autocomplete="off"
    >
      <div class="user-details">
        <mat-form-field
          class="input-box"
          appearance="outline"
          hideRequiredMarker="true"
        >
          <mat-label>Nombre</mat-label>
          <input
            matInput
            id="categoryName"
            class="form-control"
            type="text"
            formControlName="categoryName"
            placeholder=""
          />
          <mat-error
            *ngIf="categoryForm.get('categoryName')?.errors?.nameExists"
          >
            Este nombre ya está siendo usado.
          </mat-error>
          <mat-error *ngIf="categoryForm.get('categoryName')?.errors?.required">
            El nombre es requerido.
          </mat-error>
        </mat-form-field>
      </div>
      <mat-form-field
        class="input-box textarea"
        appearance="outline"
        hideRequiredMarker="true"
      >
        <mat-label>Descripción</mat-label>
        <textarea
          matInput
          id="categoryDescription"
          class="form-control"
          type="text"
          formControlName="categoryDescription"
          placeholder=""
        ></textarea>
        <mat-error
          *ngIf="categoryForm.get('categoryDescription')?.errors?.required"
        >
          La descripción es requerida.
        </mat-error>
      </mat-form-field>
      <div class="user-details">
        <mat-form-field
          class="input-box"
          appearance="outline"
          hideRequiredMarker="true"
        >
          <mat-label>Precio por día</mat-label>
          <input
            matInput
            id="pricePerDay"
            class="form-control"
            type="number"
            formControlName="pricePerDay"
            placeholder=""
          />
          <mat-error *ngIf="categoryForm.get('pricePerDay')?.errors?.required">
            El precio por día es requerido.
          </mat-error>
          <mat-error *ngIf="categoryForm.get('pricePerDay')?.errors?.min">
            No puede ser menor a 1.
          </mat-error>
        </mat-form-field>
        <mat-form-field
          class="input-box"
          appearance="outline"
          hideRequiredMarker="true"
        >
          <mat-label>Valor depósito</mat-label>
          <input
            matInput
            id="depositValue"
            class="form-control"
            type="number"
            formControlName="depositValue"
            placeholder=""
          />
          <mat-error *ngIf="categoryForm.get('depositValue')?.errors?.required">
            El Valor de depósito es requerido.
          </mat-error>
          <mat-error *ngIf="categoryForm.get('depositValue')?.errors?.min">
            No puede ser menor a 1.
          </mat-error>
        </mat-form-field>
      </div>
      <mat-error *ngIf="errorMessage">
        {{ errorMessage }}
      </mat-error>
      <div class="button">
        <button
          type="submit"
          [disabled]="categoryForm.invalid || categoryForm.pending"
        >
          <ng-container *ngIf="!categoryForm.pending && !pending; else loading">
            {{ buttonText }}
          </ng-container>
          <ng-template #loading>
            <mat-spinner diameter="30"></mat-spinner>
          </ng-template>
        </button>
      </div>
    </form>
  </div>
</div>
