<h2 mat-dialog-title class="title text-{{ data.titleColor }} unselectable">
  {{ data.title }}
</h2>
<mat-dialog-content class="content unselectable">
  <img src="{{ data.image }}" alt="Delete icb" />
  <div>
    <hr />
    <p class="message">{{ data.message }}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Volver</button>
  <button
    mat-flat-button
    [mat-dialog-close]="true"
    class="bg-{{ data.buttonColor }}"
  >
    Confirmar
  </button>
</mat-dialog-actions>
