// Basic
$main: #0f222d;
$secondary: #21303a;
$white: #f8f9fa;
$black: #0d0e0f;
$gray: #d1d1d1;

// Specific
$link: #337ab7;
$staff-navbar: #28282beb;
$email-row-clicked: #e2e2e2;
$btn-reservation: rgba(255, 255, 255, 0.2);
