@use "../styles/colors" as colors;

img {
  width: 100px;
  height: 100px;
}

.custom-blue {
  background-color: colors.$main;
}

.title {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0;
}

.unselectable {
  user-select: none;
}
