<div class="container unselectable">
    <div class="title">
        <p>Menú {{role}}</p>
    </div>
    <nav class="navbar navbar-expand-lg unselectable">
        <div class="container-fluid">
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavStaff"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-dark" id="navbarNavStaff">
            <ul class="navbar-nav ">
            <li class="nav-item" *ngIf="role === 'Admin'">
                <a class="nav-link texto-blanco" aria-current="page" routerLink="/staff/users" routerLinkActive="active">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link texto-blanco" routerLink="/staff/categories" routerLinkActive="active">Categorías</a>
            </li>
            <li class="nav-item">
                <a class="nav-link texto-blanco" routerLink="/staff/brands" routerLinkActive="active">Marcas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link texto-blanco" routerLink="/staff/colors" routerLinkActive="active">Colores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link texto-blanco" routerLink="/staff/locations" routerLinkActive="active">Sucursales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link texto-blanco" routerLink="/staff/vehicleModels" routerLinkActive="active">Modelos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link texto-blanco" routerLink="/staff/vehiclesS" routerLinkActive="active">Vehiculos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link texto-blanco" routerLink="/staff/reservations" routerLinkActive="active">Reservas</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>
