<mat-card
  *ngIf="categories.length === 0"
  class="bg-dark border border-white text-white text-center fs-4 mt-4"
>
  <mat-card-content>No hay categorías registradas</mat-card-content>
</mat-card>
<div *ngIf="categories.length > 0">
  <form [formGroup]="filterForm">
    <mat-form-field class="input-box" hideRequiredMarker="true">
      <mat-label>Búsqueda por Nombre</mat-label>
      <input
        matInput
        type="text"
        formControlName="searchText"
        placeholder="Escribe al menos 3 caracteres..."
      />
    </mat-form-field>
  </form>
  <div class="tables-div">
    <mat-card
      *ngIf="filteredCategories.length === 0"
      class="bg-dark border border-white text-white text-center fs-4 mt-2"
    >
      <mat-card-content
        >🔍 No se encontraron resultados para la búsqueda</mat-card-content
      >
    </mat-card>
    <table
      *ngIf="filteredCategories.length > 0"
      class="table table-dark table-hover table-bordered table-sm border border-white text-center"
    >
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Precio por día</th>
          <th>Valor depósito</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of filteredCategories">
          <td>{{ category.categoryName }}</td>
          <td>{{ category.categoryDescription }}</td>
          <td>{{ category.pricePerDay }}</td>
          <td>{{ category.depositValue }}</td>
          <td class="actions-column">
            <app-action-buttons
              [entity]="category"
              [disableDeletion]="false"
              (editEntity)="editCategory($event)"
              (deleteEntity)="deleteCategory($event)"
            ></app-action-buttons>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
