<div class="border border-1 border-white rounded-pill unselectable">
  <div class="modal-header d-flex bg-dark text-white">
    <h2 class="modal-title">{{ title }}</h2>
  </div>
  <div class="modal-body fw-medium bg-dark modal-text">  
    <section class="form">
      <form
        id="sucursalForm"
        [formGroup]="sucursalForm"
        class="border border-dark border-3 rounded mt-2 form-style"
      >
        <input
          id="nombre"
          type="text"
          formControlName="nombre"
          placeholder="Nombre"
        />
        <hr />

        <input
          id="domicilio"
          type="text"
          formControlName="domicilio"
          placeholder="Direccion"
        />
        <hr />

        <input
          id="telefono"
          type="text"
          formControlName="telefono"
          placeholder="Telefono"
        />
        <hr />
      </form>
    </section>
    <div class="modal-footer bg-dark modal-text">
      <button
        type="button"
        class="btn btn-secondary border border-1 border-white"
        (click)="activeModal.dismiss()"
      >
        Cancelar
      </button>
      <button
        type="submit"
        class="btn btn-primary border border-1 border-white"
        (click)="onSubmit()"
        [disabled]="!sucursalForm.valid"
      >
        Registrar
      </button>
    </div>
  </div>
</div>
