<div class="border border-1 border-white rounded-pill unselectable">
  <div class="modal-header d-flex bg-dark text-white">
    <h2 class="modal-title">{{ title }}</h2>
  </div>
  <div class="modal-body fw-medium bg-dark modal-text">
    <section class="form">
      <form
        id="modeloForm"
        [formGroup]="modeloForm"
        class="border border-dark border-3 rounded mt-2 form-style"
      >
        <input
          id="nombre"
          type="text"
          formControlName="nombre"
          placeholder="Nombre del modelo"
        />
        <hr />

        <input
          id="cantPasajeros"
          type="number"
          formControlName="cantPasajeros"
          placeholder="Cantidad maxima de pasajeros"
        />
        <hr />

        <select
          id="tipoTransmision"
          formControlName="tipoTransmision"
          class="form-select bg-dark text-white border border-secondary w-auto"
        >
          <option value="" disabled selected>Seleccione Tipo de Transmisión</option>
          <option value="Manual">Manual</option>
          <option value="Automatica">Automatica</option>
          <option value="Hidraulica">Hidraulica</option>
          <option value="Continuamente Variable">Continuamente Variable</option>
          <option value="Doble Embrague">Doble Embrague</option>
        </select>
        <hr />

        <!-- Categoría -->
        <select
          id="categoria"
          formControlName="categoria"
          class="form-select bg-dark text-white border border-secondary w-auto"
        >
          <option value="" disabled selected>Seleccione Categoría</option>
          <option *ngFor="let categoria of categorias" [value]="categoria.id">
            {{ categoria.nombre }}
          </option>
        </select>
        <hr />

        <!-- marca -->
        <select
          id="marca"
          formControlName="marca"
          class="form-select bg-dark text-white border border-secondary w-auto"
        >
          <option value="" disabled selected>Seleccione Marca</option>
          <option *ngFor="let marca of marcas" [value]="marca.id">
            {{ marca.nombre }}
          </option>
        </select>
        <hr />
      </form>
    </section>
    <div class="modal-footer bg-dark modal-text">
      <button
        type="button"
        class="btn btn-secondary border border-1 border-white"
        (click)="activeModal.dismiss()"
      >
        Cancelar
      </button>
      <button
        type="submit"
        class="btn btn-primary border border-1 border-white"
        (click)="onSubmit()"
        [disabled]="!modeloForm.valid"
      >
        Registrar
      </button>
    </div>
  </div>
</div>
