<mat-card
  *ngIf="displayedMessage"
  class="bg-dark border border-white text-white text-center fs-4 mt-4 w-100"
>
  <mat-card-content>
    {{ displayedMessage }}
  </mat-card-content>
</mat-card>
<div *ngIf="!displayedMessage">
  <mat-card
    *ngIf="!hasRelatedEntities"
    class="bg-dark border border-white text-white text-center fs-4 mt-4"
  >
    <mat-card-content>
      <p>
        Es obligatorio tener al menos una categoría y una marca registradas...
      </p>
      <p class="fs-6">
        Estos datos son necesarios para poder agregar un nuevo modelo
        correctamente
      </p>
    </mat-card-content>
  </mat-card>
  <div *ngIf="hasRelatedEntities" class="container unselectable">
    <div class="d-flex justify-content-between">
      <div class="title">{{ title }}</div>
      <button mat-stroked-button (click)="navigateToVehicleModels()">
        Volver
      </button>
    </div>
    <hr />
    <div *ngIf="action === 'Edit'" class="information">
      <div class="information-title">ID</div>
      <div class="information-content">
        <span>{{ currentVehicleModelId }}</span>
      </div>
    </div>
    <hr *ngIf="action === 'Edit'" />
    <div class="content">
      <form
        [formGroup]="vehicleModelForm"
        (ngSubmit)="onSubmit()"
        enctype="multipart/form-data"
        autocomplete="off"
      >
        <div class="user-details">
          <mat-form-field
            class="input-box"
            appearance="outline"
            hideRequiredMarker="true"
          >
            <mat-label>Nombre</mat-label>
            <input
              matInput
              id="vehicleModelName"
              class="form-control"
              type="text"
              formControlName="vehicleModelName"
              placeholder=""
            />
            <mat-error
              *ngIf="
                vehicleModelForm.get('vehicleModelName')?.errors
                  ?.entityNameExists
              "
            >
              Este nombre ya está siendo usado.
            </mat-error>
            <mat-error
              *ngIf="vehicleModelForm.get('vehicleModelName')?.errors?.required"
            >
              El nombre es requerido.
            </mat-error>
          </mat-form-field>
          <mat-form-field
            class="input-box"
            appearance="outline"
            hideRequiredMarker="true"
          >
            <mat-label>Tipo de Transmisión</mat-label>
            <mat-select
              id="transmissionType"
              formControlName="transmissionType"
            >
              <mat-option value="Manual">Manual</mat-option>
              <mat-option value="Automatica">Automática</mat-option>
            </mat-select>
            <mat-error
              *ngIf="vehicleModelForm.get('transmissionType')?.errors?.required"
            >
              El tipo de transmisión es requerido.
            </mat-error>
          </mat-form-field>
          <mat-form-field
            class="input-box"
            appearance="outline"
            hideRequiredMarker="true"
          >
            <mat-label>Cantidad de Pasajeros</mat-label>
            <input
              matInput
              id="passengerCount"
              class="form-control"
              type="number"
              formControlName="passengerCount"
              placeholder=""
              min="1"
            />
            <mat-error
              *ngIf="vehicleModelForm.get('passengerCount')?.errors?.required"
            >
              La cantidad de pasajeros es requerida.
            </mat-error>
            <mat-error
              *ngIf="vehicleModelForm.get('passengerCount')?.errors?.min"
            >
              Debe llevar a 1 o más pasajeros.
            </mat-error>
          </mat-form-field>
          <mat-form-field
            class="input-box"
            appearance="outline"
            hideRequiredMarker="true"
          >
            <mat-label>Marca</mat-label>
            <mat-select id="brand" formControlName="brand">
              <mat-option *ngFor="let brand of brands" [value]="brand.id">
                {{ brand.brandName }}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="vehicleModelForm.get('brand')?.errors?.required">
              La marca es requerida.
            </mat-error>
          </mat-form-field>
          <mat-form-field
            class="input-box"
            appearance="outline"
            hideRequiredMarker="true"
          >
            <mat-label>Categoría</mat-label>
            <mat-select id="category" formControlName="category">
              <mat-option
                *ngFor="let category of categories"
                [value]="category.id"
              >
                {{ category.categoryName }}
              </mat-option>
            </mat-select>

            <mat-error
              *ngIf="vehicleModelForm.get('category')?.errors?.required"
            >
              La categoría es requerida.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="information-title">Imagen</div>
        <input
          id="imagePath"
          type="file"
          (change)="onFileSelected($event)"
          accept="image/*"
          class="form-control border border-secondary rounded w-100 mt-2 img-input"
        />
        <mat-error *ngIf="errorMessage">
          {{ errorMessage }}
        </mat-error>
        <div class="button">
          <button type="submit" [disabled]="vehicleModelForm.pending">
            <ng-container
              *ngIf="!vehicleModelForm.pending && !pending; else loading"
            >
              {{ buttonText }}
            </ng-container>
            <ng-template #loading>
              <mat-spinner diameter="30"></mat-spinner>
            </ng-template>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
