<div class="container unselectable">
  <div class="title">Iniciar sesión</div>
  <hr />
  <div class="content">
    <form
      app-prevent-enter
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      autocomplete="off"
    >
      <div class="user-details">
        <mat-form-field
          class="input-box"
          appearance="outline"
          hideRequiredMarker="true"
        >
          <mat-label>Email</mat-label>
          <input
            matInput
            id="email"
            class="form-control"
            type="email"
            formControlName="email"
            placeholder=""
            [class.ng-invalid]="message"
          />
          <mat-hint routerLink="/register" class="link"
            >¿No tienes cuenta?
            <a routerLink="/register">Registrate</a></mat-hint
          >
          <mat-error *ngIf="loginForm.get('email')?.errors?.required">
            El email es requerido.
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.errors?.invalidEmail">
            El email no tiene un formato válido.
          </mat-error>
        </mat-form-field>
        <mat-form-field
          class="input-box"
          appearance="outline"
          hideRequiredMarker="true"
        >
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            id="password"
            class="form-control"
            type="password"
            formControlName="password"
            placeholder=""
            [type]="hide() ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Ocultar contraseña'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-hint routerLink="/forgot-password" class="link"
            >¿Olvidaste tu
            <a routerLink="/forgot-password">contraseña</a>?</mat-hint
          >
          <mat-error *ngIf="loginForm.get('password')?.errors?.required">
            La contraseña es requerida.
          </mat-error>
        </mat-form-field>
      </div>
      <mat-error *ngIf="message">
        {{ message }}
      </mat-error>

      <div class="button">
        <button
          type="submit"
          [disabled]="loginForm.invalid || loginForm.pending"
        >
          <ng-container *ngIf="!loginForm.pending && !pending; else loading">
            Ingresar
          </ng-container>
          <ng-template #loading>
            <mat-spinner diameter="30"></mat-spinner>
          </ng-template>
        </button>
      </div>
    </form>
  </div>
</div>
