.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 3rem;
  color: #333;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
  font-size: 1.5rem;
  color: #666;
  text-align: center;
  margin-bottom: 1rem;
}

.subtitulo-home-page {
  color: #fff;
}

.hero {
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 2.5em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cta-button {
  background-color: #337ab7;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.3rem;
  margin: 1rem 0;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.testimonial {
  background: linear-gradient(#c6c8ca, white);
  color: #337ab7;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1 1 300px;
}

.testimonial p {
  font-size: 1.3em;
}

@media (max-width: 700px) {
  .hero .titulo-home-page {
    font-size: 1.5em;
  }

  .subtitulo-home-page {
    font-size: 1em;
  }

  .cta-button {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .testimonial p {
    font-size: 0.8em;
    font-weight: 500;
  }
}
