<div class="container">
  <div class="hero">
    <h1 class="titulo-home-page">Alquiler de Vehiculos | BGGJM</h1>
  </div>
  <p class="subtitulo-home-page">
    Explora nuestra flota de vehículos y reserva hoy mismo.
  </p>
  <button class="cta-button" (click)="mostrarVehiculos()">Reserva ahora</button>
  <div class="testimonials">
    <div class="testimonial">
      <p>
        "Me encantó el servicio de alquiler de vehiculos de BGGJM. Fue fácil y
        rápido."
      </p>
      <p>- Juana Rodriguez</p>
    </div>
    <div class="testimonial">
      <p>
        "La flota de vehículos es impresionante. Me gustó mucho el auto que
        alquilé."
      </p>
      <p>- Pedro Martinez</p>
    </div>
  </div>
</div>
