<div class="border border-1 border-white rounded-pill unselectable">
  <div class="modal-header d-flex bg-dark text-white">
    <h2 class="modal-title">{{ title }}</h2>
  </div>
  <div class="modal-body fw-medium bg-dark modal-text">
    <section class="form">
      <form
        id="vehicleForm"
        [formGroup]="vehicleForm"
        class="border border-dark border-3 rounded mt-2 form-style"
      >
        <input
          id="patente"
          type="text"
          formControlName="patente"
          placeholder="Patente del Vehiculo"
        />
        <hr />

        <input
          id="anioFabricacion"
          type="number"
          formControlName="anioFabricacion"
          placeholder="Año de Fabricación"
        />
        <hr />

        <input
          id="kmRecorridos"
          type="number"
          formControlName="kmRecorridos"
          placeholder="Cantidad de km recorridos a la fecha de ingreso"
        />
        <hr />

        <!-- Modelo -->
        <select
          id="modelo"
          formControlName="modelo"
          class="form-select bg-dark text-white border border-secondary w-auto"
        >
          <option value="" disabled selected>Seleccione Modelo</option>
          <option *ngFor="let modelo of modelos" [value]="modelo.id">
            {{ modelo.nombre }}
          </option>
        </select>
        <hr />

        <!-- color -->
        <select
          id="color"
          formControlName="color"
          class="form-select bg-dark text-white border border-secondary w-auto"
        >
          <option value="" disabled selected>Seleccione color</option>
          <option *ngFor="let color of colors" [value]="color.id">
            {{ color.nombre }}
          </option>
        </select>

        <!-- sucursal -->
        <select
          id="sucursal"
          formControlName="sucursal"
          class="form-select bg-dark text-white border border-secondary w-auto"
        >
          <option value="" disabled selected>Seleccione sucursal</option>
          <option *ngFor="let sucursal of sucursals" [value]="sucursal.id">
            {{ sucursal.nombre }}
          </option>
        </select>

        <hr />

      </form>
    </section>
    <div class="modal-footer bg-dark modal-text">
      <button
        type="button"
        class="btn btn-secondary border border-1 border-white"
        (click)="activeModal.dismiss()"
      >
        Cancelar
      </button>
      <button
        type="submit"
        class="btn btn-primary border border-1 border-white"
        (click)="onSubmit()"
        [disabled]="!vehicleForm.valid"
      >
        Registrar
      </button>
    </div>
  </div>
</div>
