<div class="container unselectable">
  <div class="d-flex justify-content-between">
    <div class="title">{{title}}</div>
    <button style="margin-bottom: 5px;" mat-stroked-button (click)="navigateToBrands()">Volver</button>
  </div>
  <hr>
  <div *ngIf="action === 'Edit'" class="information">
      <div class="information-title">ID</div>
      <div class="information-content">
          <span>{{currentBrandId}}</span>
      </div>
  </div>
  <hr *ngIf="action === 'Edit'">
  <div class="content">
    <form [formGroup]="brandForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="user-details">
        <mat-form-field class="input-box" appearance="outline" hideRequiredMarker="true">
          <mat-label>Nombre de la marca</mat-label>
          <input 
            matInput
            id="brandName"
            class="form-control"
            type="text"
            formControlName="brandName"
            placeholder=""
          >
          <mat-error *ngIf="brandForm.get('brandName')?.errors?.required">
            El nombre es requerido.
          </mat-error>
        </mat-form-field>
      </div>
      <mat-error *ngIf="errorMessage">
          {{errorMessage}}
      </mat-error>
      <!-- Submit button -->
      <div class="button">
        <button type="submit" [disabled]="brandForm.pending">
          <ng-container *ngIf="!brandForm.pending; else loading">
            {{buttonText}}
          </ng-container>
          <ng-template #loading>
            <mat-spinner diameter="30"></mat-spinner>
          </ng-template>
          
        </button>
      </div>
    </form>
  </div>
</div>
