<div class="lista-vehiculos text-white">
  <div class="titulo d-flex justify-content-between pt-3 me-5">
    <h2 class="nuestros-vehiculos">Elegí el auto que quieras</h2>
  </div>
  <section class="vehicle-list mt-3 mx-5">
    <app-vehicle-card
      *ngFor="let vehiculo of response"
      [modelo]="vehiculo.modelo.nombre"
      [descripcion]="vehiculo.modelo.categoria.descripcion"
      [cantPasajeros] = "vehiculo.modelo.cantPasajeros"
      [imagen]="
      vehiculo.imagenRuta
      "
    ></app-vehicle-card>
  </section>
</div>
<!--'https://http2.mlstatic.com/D_NQ_NP_642000-MLA70518447599_072023-O.webp''assets/img/Renault9.jpg'-->