<!--
<input
  type="text"
  class="form-control mb-3"
  name="filterPost"
  placeholder="Buscar por patente..."
  [(ngModel)]="filterRows"
/>
-->
<div class="div-tablas">
  <table
    class="table table-dark table-hover table-bordered table-sm border border-white text-center vehicles-table"
  >
    <thead>
      <tr class="text-danger">
        <th>Patente</th>
        <th>Año de Fabricación</th>
        <th>Km Recorridos</th>
        <th>Modelo</th>
        <th>Color</th>
        <th>Sucursal</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let vehicle of vehicles | filter : filterRows"> -->
      <tr *ngFor="let vehicle of vehicles">
        <td>{{ vehicle.licensePlate }}</td>
        <td>{{ vehicle.manufacturingYear }}</td>
        <td>{{ vehicle.totalKms }}</td>
        <td>{{ vehicle.vehicleModel.vehicleModelName }}</td>
        <td>{{ vehicle.color.colorName }}</td>
        <td>{{ vehicle.location.locationName }}</td>
        <td>
          <div class="d-flex justify-content-around">
            <button class="btn btn-dark fs-5" (click)="editVehicle(vehicle)">
              ✏️
            </button>
            <button class="btn btn-dark fs-5" (click)="deleteVehicle(vehicle)">
              ❌
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
