<input
  type="text"
  class="form-control mb-3"
  name="filterPost"
  placeholder="Buscar por Nombre..."
  [(ngModel)]="filterRows"
/>
<div class="div-tablas">
  <table
    class="table table-dark table-hover table-bordered table-sm border border-white text-center sucursales-table"
  >
    <thead>
      <tr class="text-danger">
        <th>Sucursal</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let location of locations | filter : filterRows : 'locationName'">
        <td>{{ location.locationName }}</td>
        <td>{{ location.address }}</td>
        <td>{{ location.phoneNumber }}</td>
        <td>
          <div class="d-flex justify-content-around">
            <button class="btn btn-dark fs-5" (click)="editLocation(location)">
              ✏️
            </button>
            <button
              class="btn btn-dark fs-5"
              (click)="deleteLocation(location)"
            >
              ❌
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
