<div class="lista-vehiculos text-white">
  <div class="titulo d-flex justify-content-between pt-3 me-5">
    <h2 class="nuestros-vehiculos">Elegí el auto que quieras</h2>
    <button class="btn btn-primary" (click)="editFilter()">
      Editar Filtro
    </button>
  </div>

  <!-- Filtro por fechas
   para escuchar los valores del filtro de fechas y hacer la solicitud de los vehículos disponibles -->

  <section class="vehicle-list mt-3 mx-5">
    <ng-container *ngIf="response.length > 0">
      <app-vehicle-card
        *ngFor="let vehicle of response"
        [vehicleModel]="vehicle.vehicleModel"
        [categoryDescription]="vehicle.category"
        [passengerCount] = "vehicle.passengerCount"
        [image]="vehicle.image"
        [pricePerDay]="vehicle.pricePerDay"
        [deposit]="vehicle.deposit"
      ></app-vehicle-card>
    </ng-container>
  </section>
</div>
<!--'https://http2.mlstatic.com/D_NQ_NP_642000-MLA70518447599_072023-O.webp''assets/img/Renault9.jpg'-->
