<div class="lista-colores text-white">
  <!-- Este es el componente que contiene a la tabla y al boton -->
  <div class="titulo d-flex justify-content-between pt-3 me-5">
    <!-- Título de la sección -->
    <h2 class="nuestros-colores">Nuestros colores</h2>

    <!-- Botón para agregar una nuevo color -->
    <button class="btn btn-primary" (click)="navigateToNewColor()">
      + Nuevo
    </button>
  </div>

  <!-- Sección que contiene la tabla de colores -->
  <section #tableContainer class="color-list mt-3 mx-5">
    <!-- Componente de tabla de colores -->
    <!-- Pasa la lista de colores al componente de tabla -->
    <app-colors-table
      [colors]="colors"
      (colorDeleted)="onColorDeleted($event)"
    ></app-colors-table
    ><!-- Maneja el evento de eliminación de color -->
  </section>
</div>
