#userForm {
  background-color: white;
  padding-bottom: 1em;
}

#fechaNacimiento {
  margin-left: 1.8em;
}

.nuevo-cliente {
  margin-left: 0.4em;
}

.volver {
  margin-right: 2.2em;
}

.form {
  padding: 0.5em 2em 2em 2em;
}
