<div class="container"> 
    <div class="game-board">
        <div class="game-row">
            <div id="c00" class="game-cell empty"></div>
            <div id="c01" class="game-cell empty"></div>
            <div id="c02" class="game-cell empty"></div>
            <div id="c03" class="game-cell empty"></div>
            <div id="c04" class="game-cell empty"></div>
            <div id="c05" class="game-cell empty"></div>
            <div id="c06" class="game-cell empty"></div>
            <div id="c07" class="game-cell empty"></div>
            <div id="c08" class="game-cell empty"></div>
            <div id="c09" class="game-cell empty"></div>
        </div>
        <div class="game-row">
            <div id="c10" class="game-cell empty"></div>
            <div id="c11" class="game-cell empty"></div>
            <div id="c12" class="game-cell empty"></div>
            <div id="c13" class="game-cell empty"></div>
            <div id="c14" class="game-cell empty"></div>
            <div id="c15" class="game-cell empty"></div>
            <div id="c16" class="game-cell empty"></div>
            <div id="c17" class="game-cell empty"></div>
            <div id="c18" class="game-cell empty"></div>
            <div id="c19" class="game-cell empty" ></div>
        </div>
        <div class="game-row">
            <div id="c20" class="game-cell empty"></div>
            <div id="c21" class="game-cell empty"></div>
            <div id="c22" class="game-cell empty"></div>
            <div id="c23" class="game-cell empty"></div>
            <div id="c24" class="game-cell empty"></div>
            <div id="c25" class="game-cell empty"></div>
            <div id="c26" class="game-cell empty"></div>
            <div id="c27" class="game-cell empty"></div>
            <div id="c28" class="game-cell empty"></div>
            <div id="c29" class="game-cell empty"></div>
        </div>
        <div class="game-row">
            <div id="c30" class="game-cell empty"></div>
            <div id="c31" class="game-cell empty"></div>
            <div id="c32" class="game-cell empty"></div>
            <div id="c33" class="game-cell empty"></div>
            <div id="c34" class="game-cell empty"></div>
            <div id="c35" class="game-cell empty"></div>
            <div id="c36" class="game-cell empty"></div>
            <div id="c37" class="game-cell empty"></div>
            <div id="c38" class="game-cell empty"></div>
            <div id="c39" class="game-cell empty"></div>
        </div>
        <div class="game-row">
            <div id="c40" class="game-cell empty"></div>
            <div id="c41" class="game-cell empty"></div>
            <div id="c42" class="game-cell empty"></div>
            <div id="c43" class="game-cell empty"></div>
            <div id="c44" class="game-cell empty"></div>
            <div id="c45" class="game-cell empty"></div>
            <div id="c46" class="game-cell empty"></div>
            <div id="c47" class="game-cell empty"></div>
            <div id="c48" class="game-cell empty"></div>
            <div id="c49" class="game-cell empty"></div>
        </div>
        <div class="game-row">
            <div id="c50" class="game-cell empty"></div>
            <div id="c51" class="game-cell empty"></div>
            <div id="c52" class="game-cell empty"></div>
            <div id="c53" class="game-cell empty"></div>
            <div id="c54" class="game-cell empty"></div>
            <div id="c55" class="game-cell empty"></div>
            <div id="c56" class="game-cell empty"></div>
            <div id="c57" class="game-cell empty"></div>
            <div id="c58" class="game-cell empty"></div>
            <div id="c59" class="game-cell empty"></div>
        </div>
        <div class="game-row">
            <div id="c60" class="game-cell empty"></div>
            <div id="c61" class="game-cell empty"></div>
            <div id="c62" class="game-cell empty"></div>
            <div id="c63" class="game-cell empty"></div>
            <div id="c64" class="game-cell empty"></div>
            <div id="c65" class="game-cell empty"></div>
            <div id="c66" class="game-cell empty"></div>
            <div id="c67" class="game-cell empty"></div>
            <div id="c68" class="game-cell empty"></div>
            <div id="c69" class="game-cell empty"></div>
        </div>
        <div class="game-row">
            <div id="c70" class="game-cell empty"></div>
            <div id="c71" class="game-cell empty"></div>
            <div id="c72" class="game-cell empty"></div>
            <div id="c73" class="game-cell empty"></div>
            <div id="c74" class="game-cell empty"></div>
            <div id="c75" class="game-cell empty"></div>
            <div id="c76" class="game-cell empty"></div>
            <div id="c77" class="game-cell empty"></div>
            <div id="c78" class="game-cell empty"></div>
            <div id="c79" class="game-cell empty"></div>
        </div>
        <div class="game-row">
            <div id="c80" class="game-cell empty"></div>
            <div id="c81" class="game-cell empty"></div>
            <div id="c82" class="game-cell empty"></div>
            <div id="c83" class="game-cell empty"></div>
            <div id="c84" class="game-cell empty"></div>
            <div id="c85" class="game-cell empty"></div>
            <div id="c86" class="game-cell empty"></div>
            <div id="c87" class="game-cell empty"></div>
            <div id="c88" class="game-cell empty"></div>
            <div id="c89" class="game-cell empty"></div>
        </div>
        <div class="game-row">
            <div id="c90" class="game-cell empty"></div>
            <div id="c91" class="game-cell empty"></div>
            <div id="c92" class="game-cell empty"></div>
            <div id="c93" class="game-cell empty"></div>
            <div id="c94" class="game-cell empty"></div>
            <div id="c95" class="game-cell empty"></div>
            <div id="c96" class="game-cell empty"></div>
            <div id="c97" class="game-cell empty"></div>
            <div id="c98" class="game-cell empty"></div>
            <div id="c99" class="game-cell empty"></div>
        </div>
    </div>

    <div class="game-menu">
        <div class="game-row">
            <div *ngFor="let cell of cells" class="menu-cell menu-empty"></div>
        </div>
        <div class="game-row">
            <div *ngFor="let cell of cells" class="menu-cell menu-empty"></div>
        </div>
        <div class="menu-row0">
            <div class="menu-col0">
                <div *ngFor="let row of rows" class="menu-row1">
                    <div class="menu-cell menu-empty"></div>
                    <div class="menu-cell menu-empty"></div>
                </div>
            </div>
            <div class="menu-col1">
                
            </div>
            <div class="menu-col0">
                <div *ngFor="let row of rows" class="menu-row1">
                    <div class="menu-cell menu-empty"></div>
                    <div class="menu-cell menu-empty"></div>
                </div>
            </div>
        </div>
        <div class="game-row">
            <div *ngFor="let cell of cells" class="menu-cell menu-empty"></div>
        </div>
        <div class="game-row">
            <div *ngFor="let cell of cells" class="menu-cell menu-empty"></div>
        </div>
    </div>
</div>
