@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}
:host {
    height: 83dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board, .game-menu, .game-after {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.game-board.active, .game-menu.active, .game-after.active {
    opacity: 1; 
    visibility: visible; 
}

.container {
    position: relative;
    height: 500px;
    width: 500px;
    background-color: #dddddd;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.game-board {
    margin: 30px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid black;
    height: calc(500px - 60px);
    width: calc(500px - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.game-menu {
    margin: 30px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid black;
    height: calc(500px - 60px);
    width: calc(500px - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.game-after {
    margin: 30px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid black;
    height: calc(500px - 60px);
    width: calc(500px - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.game-row  {
    height: calc(100% / 10); 
    width: 100%;
    display: flex;
}

.game-cell {
    border-radius: 8px;
    width: calc(100% / 10 - 4px); 
    margin: 2px;
}

.snake-head {
    background-color: #ff0000;
}

.snake-body {
    background-color: #ff6666;
}

.empty {
    background-color: #dddddd;
}

.apple {
    background-color: #00ff00;
}

.menu-row0 {
    height: calc((100% / 10) * 6);
    width: 100%;
    display: flex;
}

.menu-row1 {
    width: 100%;
    height: calc(100% / 6);
    display: flex;
}

.menu-row1 .menu-cell {
    width: calc(100% / 2 - 4px); 
}

.menu-col0 {
    width: calc((100% / 10)* 2);;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.menu-col1 {
    width: calc((100% / 10)* 6);;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} 

.menu-cell {
    border-radius: 8px;
    width: calc(100% / 10 - 4px); 
    margin: 2px;
}

.menu-empty {
    background-color: #dddddd;
}

.menu-title {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    font-family: "Comfortaa", sans-serif;
}

.menu-subtitle {
    font-size: 13px;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
}

.menu-row4 {
    height: calc(100% / 6 * 2);
    width: 100%;
}

.menu-p {
    height: calc(100% / 4 ); 
    font-size: 17px;
    font-weight: 100;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: "Comfortaa", sans-serif;
}

.menu-row5 {
    height: calc(100% / 3);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-row6 {
    height: calc(100% / 6 * 3);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-row7 {
    height: calc(100% / 6 );
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-cell2 {
    border-radius: 8px;
    width: calc(100% / 6 - 4px);
    height: calc(100% - 4px); 
    margin: 2px;
}

.menu-key {
    background-color: #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Comfortaa", sans-serif;
}

.custom-button {
    width: 35px; 
    height: 35px;
    display: flex;
    box-shadow: none !important;
}
