* {
    margin: 0;
    padding: 0;
}
:host {
height: 83dvh;
display: flex;
justify-content: center;
align-items: center;
}

.container {
    height: 500px;
    width: 500px;
    background-color: #dddddd;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.game-board {
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    display: none;
    transition: display 0.5s;
}

.game-menu {
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.game-row  {
    height: calc(100% / 10); 
    width: 100%;
    display: flex;
}

.game-cell {
    border-radius: 8px;
    width: calc(100% / 10 - 4px); 
    margin: 2px;
}

.snake-head {
    background-color: #ff0000;
}

.snake-body {
    background-color: #ff6666;
}

.empty {
    background-color: #dddddd;
}

.apple {
    background-color: #00ff00;
}

.menu-row0 {
    height: calc((100% / 10) * 6);
    width: 100%;
    display: flex;
}

.menu-row1 {
    width: 100%;
    height: calc(100% / 6);
    display: flex;
}

.menu-row1 .menu-cell {
    width: calc(100% / 2 - 4px); 
}

.menu-col0 {
    width: calc((100% / 10)* 2);;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.menu-col1 {
    width: calc((100% / 10)* 6);;
    height: 100%;
    display: flex;
} 

.menu-cell {
    border-radius: 8px;
    width: calc(100% / 10 - 4px); 
    margin: 2px;
}

.menu-empty {
    background-color: #dddddd;
}