<div class="lista-marcas text-white">
  <!-- Este es el componente que contiene a la tabla y al boton -->
  <div class="titulo d-flex justify-content-between pt-3 me-5">
    <!-- Título de la sección -->
    <h2 class="nuestras-marcas texto-blanco">Nuestras marcas</h2>

    <!-- Botón para agregar una nueva marca -->
    <button class="btn btn-primary" (click)="newBrand()">+ Nuevo</button>
  </div>

  <!-- Sección que contiene la tabla de marcas -->
  <section class="marca-list mt-3 mx-5">
    <!-- Componente de tabla de marcas -->
    <!-- Pasa la lista de marcas al componente de tabla -->
    <app-brands-table
      [brands]="brands"
      (brandDeleted)="onBrandDeleted($event)"
    ></app-brands-table
    ><!-- Maneja el evento de eliminación de marca -->
  </section>
</div>
