@use "../../shared/styles/colors" as colors;

.main-container {
  width: 100%;
  height: auto;
  position: relative;
  align-items: center;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}

.home-page-title {
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px colors.$black;
  font-weight: bold;
  color: colors.$white;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-subtitle {
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px colors.$black;
  color: colors.$white;
  text-align: center;
}

.cta-button {
  background-color: colors.$main;
  color: colors.$white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.3rem;
  margin: 1rem 0;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.testimonial {
  background: linear-gradient(colors.$gray, colors.$white);
  padding: 1rem;
  margin: 1rem;
  border: 1px solid colors.$black;
  border-radius: 5px;
  box-shadow: 2px 2px 4px colors.$black;
  text-align: center;
  flex: 1 1 300px;
}

.testimonial p {
  font-size: 1.3rem;
}

.unselectable {
  user-select: none;
}

@media (max-width: 1200px) {
  .main-container {
    width: 100%;
    height: auto;
    position: static;
  }

  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: static;
  }

  .carousel {
    width: 100%;
    height: 100%;
    position: static;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .testimonials {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .home-page-title {
    font-size: 2.2rem;
  }

  .home-page-subtitle {
    font-size: 1.2rem;
  }

  .cta-button,
  .testimonial p {
    font-size: 1rem;
  }
}

@media (max-width: 580px) {
  .home-page-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 430px) {
  .home-page-title {
    font-size: 1.3rem;
  }
}

@media (max-width: 380px) {
  .home-page-title {
    font-size: 1.1rem;
  }
}
