<div class="main-container">
  <div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="assets/carousel/parking-lot.jpg"
          class="d-block w-100"
          alt="parking-lot"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/carousel/cars-in-a-row.jpg"
          class="d-block w-100"
          alt="cars-in-a-row"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/carousel/highway.jpg"
          class="d-block w-100"
          alt="highway"
        />
      </div>
    </div>
  </div>
  <div class="container">
    <h1 class="home-page-title">Alquiler de Vehiculos | Alquilcar</h1>
    <p class="home-page-subtitle">
      Explora nuestra flota de vehículos y reserva hoy mismo
    </p>
    <button class="cta-button" (click)="navigateToReservation()">
      Reserva ahora
    </button>
  </div>
</div>
<div class="testimonials unselectable">
  <div class="testimonial">
    <p>
      "Me encantó el servicio de alquiler de vehiculos de Alquilcar. Fue fácil y
      rápido."
    </p>
    <p>- Juana Rodriguez</p>
  </div>
  <div class="testimonial">
    <p>
      "La flota de vehículos es impresionante. Me gustó mucho el auto que
      alquilé."
    </p>
    <p>- Pedro Martinez</p>
  </div>
</div>
