.marcas-table {
  position: relative;
}

.marcas-table td {
  vertical-align: middle;
  word-wrap: break-word;
}

.actions-column {
  width: 200px; /* Ajusta el ancho de la columna de acciones según sea necesario */
}
