<div class="container p-5">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card">
        <div class="card-header">
          Login
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm">
            <div class="form-group">
              <input
                id="email"
                class="form-control"
                type="email"
                formControlName="email"
                placeholder="Email"
                [class.is-invalid]="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)"
              />
              <div *ngIf="loginForm.get('email')?.errors?.required" class="invalid-feedback">
                El mail es requerido.
              </div>
            </div>
            <hr />
            <div class="form-group">
              <input
                id="password"
                class="form-control"
                type="password"
                formControlName="password"
                placeholder="Contraseña"
                [class.is-invalid]="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)"
              />
              <div *ngIf="loginForm.get('password')?.errors?.required" class="invalid-feedback">
                La contraseña es requerida.
              </div>
            </div>
            <hr />
            <div *ngIf="errorMessage" class="alert alert-danger mt-3">
              {{ errorMessage }}
            </div>
            <button
              type="submit"
              class="btn btn-primary border border-1 border-white"
              (click)="onSubmit()"
              [disabled]="loginForm.invalid"
            >
              Ingresar
            </button>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
