<div class="card" (click)="placeReservation()">
  <div class="image-box">
    <img
      [src]="'http://localhost:3000/' + vehicle.image"
      alt="Imagen del Modelo"
    />
  </div>
  <div class="content">
    <h2>{{ vehicle.brand + " " + vehicle.vehicleModel }}</h2>
    <p>{{ vehicle.category }}</p>
    <p>Cantidad de Pasajeros: {{ vehicle.passengerCount }}</p>
    <p>Precio por día: ${{ vehicle.pricePerDay }}.00</p>
    <p>Valor del Depósito: ${{ vehicle.deposit }}.00</p>
    <button class="btn-reservation" (click)="placeReservation()">
      Alquilar
    </button>
  </div>
</div>
