@use "../../../../shared/styles/colors" as colors;

.container {
  max-width: 900px;
}

.stepper {
  padding: 0;
}

.table-container {
  overflow-x: auto;
  overflow-y: hidden;
}

.no-data {
  text-align: center;
  height: 100px;
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
}

.row-is-clicked {
  background-color: colors.$email-row-clicked;
  font-weight: 600;
}

.input-box {
  width: 100%;
}

.width1 {
  width: calc(100% / 15);
}

.width2 {
  width: calc((100% / 15) * 2);
}

.width3 {
  width: calc((100% / 15) * 4);
}

.btn-next {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .container {
    margin: 0;
    margin-bottom: 1.5rem;
    padding: 0;
    padding-bottom: 15px;
  }

  .title {
    margin-top: 1rem;
    margin-left: 1.5rem;
  }
}
