<div class="container unselectable">
  <div class="title me-4">Comunicarse con un usuario</div>
  <hr />
  <mat-card
    *ngIf="displayedMessage"
    class="bg-dark border border-white text-white text-center fs-5 mt-4"
  >
    <mat-card-content>
      {{ displayedMessage }}
    </mat-card-content>
  </mat-card>
  <mat-stepper
    *ngIf="!displayedMessage"
    class="stepper"
    [orientation]="isSmallScreen ? 'vertical' : 'horizontal'"
    [linear]="true"
    #stepper
  >
    <mat-step [stepControl]="userForm">
      <ng-template matStepLabel>Seleccionar usuario</ng-template>
      <mat-form-field class="input-box" hideRequiredMarker="true">
        <mat-label>Búsqueda</mat-label>
        <input
          matInput
          type="text"
          (keyup)="applyFilter($event)"
          placeholder="Buscar por Email, Documento, Nombre, Rol..."
        />
      </mat-form-field>
      <mat-card
        *ngIf="noCoincidences"
        class="bg-dark border border-white text-white text-center fs-5 mt-2"
      >
        <mat-card-content
          >🔍 No se encontraron resultados para la búsqueda</mat-card-content
        >
      </mat-card>
      <section *ngIf="!noCoincidences" class="table-container">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="width1">Id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="width3">Email</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
          </ng-container>

          <ng-container matColumnDef="documentType">
            <th mat-header-cell *matHeaderCellDef class="width2">Tipo Doc.</th>
            <td mat-cell *matCellDef="let element">
              {{ element.documentType }}
            </td>
          </ng-container>

          <ng-container matColumnDef="documentID">
            <th mat-header-cell *matHeaderCellDef class="width2">Nro. Doc.</th>
            <td mat-cell *matCellDef="let element">{{ element.documentID }}</td>
          </ng-container>

          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef class="width3">
              Apellido y Nombre
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.userSurname + ", " + element.userName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef class="width2">Rol</th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element.role === 'admin'; else notAdmin"
                >Admin</ng-container
              >
              <ng-template #notAdmin>
                <ng-container
                  *ngIf="element.role === 'employee'; else notEmployee"
                  >Empleado</ng-container
                >
                <ng-template #notEmployee>
                  <ng-container *ngIf="element.role === 'client'"
                    >Cliente</ng-container
                  >
                </ng-template>
              </ng-template>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="onSelectedRow(row)"
            [class.row-is-clicked]="row === selectedRow"
          ></tr>
        </table>
      </section>
      <mat-paginator [pageSizeOptions]="[5]" hidePageSize="true">
      </mat-paginator>
      <div>
        <button
          *ngIf="!noCoincidences"
          mat-button
          matStepperNext
          class="btn-next"
        >
          Siguiente
        </button>
      </div>
    </mat-step>
    <mat-step [stepControl]="emailForm">
      <form
        app-prevent-enter
        [formGroup]="emailForm"
        (ngSubmit)="sendEmail()"
        autocomplete="off"
      >
        <div class="information mb-4">
          <div class="information-title">Email</div>
          <div class="information-content">
            <span>{{ selectedRow?.email }}</span>
          </div>
        </div>
        <div class="user-details">
          <mat-form-field
            class="input-box"
            appearance="outline"
            hideRequiredMarker="true"
          >
            <mat-label>Asunto</mat-label>
            <input
              matInput
              id="subject"
              class="form-control"
              type="text"
              formControlName="subject"
              placeholder=""
            />
            <mat-error *ngIf="emailForm.get('subject')?.errors?.required">
              El asunto es requerido.
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field
          class="input-box textarea"
          appearance="outline"
          hideRequiredMarker="true"
        >
          <mat-label>Mensaje</mat-label>
          <textarea
            matInput
            id="message"
            class="form-control"
            type="text"
            formControlName="message"
            placeholder=""
          ></textarea>
          <mat-error *ngIf="emailForm.get('message')?.errors?.required">
            El mensaje es requerido.
          </mat-error>
        </mat-form-field>

        <button mat-button matStepperPrevious class="my-3">Volver</button>
        <div class="button">
          <button
            type="submit"
            [disabled]="emailForm.invalid || emailForm.pending"
          >
            <ng-container *ngIf="!emailForm.pending && !pending; else loading">
              Enviar email
            </ng-container>
            <ng-template #loading>
              <mat-spinner diameter="30"></mat-spinner>
            </ng-template>
          </button>
        </div>
        <ng-template matStepLabel>Completar email</ng-template>
      </form>
    </mat-step>
  </mat-stepper>
</div>
