/* Estilos para el contenedor del formulario */
.form-style {
  background-color: #000; /* Un color de fondo oscuro (gris oscuro) */
  color: #ffffff; /* Texto blanco para el contraste */
  padding: 20px; /* Espaciado interno del formulario */
  border-radius: 5px; /* Bordes redondeados */
  border: 1px solid #6c757d; /* Borde gris oscuro para el contenedor */
}

/* Estilos para el campo de entrada dentro del contenedor */
.form-style input {
  background-color: #212529; /* Fondo más oscuro para el campo de entrada */
  color: #ffffff; /* Texto blanco en el campo de entrada */
  border: 1px solid #6c757d; /* Borde gris oscuro para el campo de entrada */
  border-radius: 6px; /* Bordes ligeramente redondeados para el campo de entrada */
  padding: 10px; /* Espaciado interno del campo de entrada */
}

.form {
  padding: 0.5em 2em 2em 2em;
}

.form-style input::placeholder {
  color: #ffffff; /* Color del texto del placeholder */
}

.danger-text {
  color: #dc3545; 
  font-weight: bold;
}

/* Controla el overflow de las tablas*/
.div-tablas {
  overflow: auto;
  margin-bottom: 2vh;
  //user-select: none; /* hace que no se pueda seleccionar el text */
}

.unselectable {
  user-select: none;
}

.modal-header {
  justify-content: center;
}

