@use "../../../../shared/styles/colors" as colors;

:host {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

form .user-details .input-box {
  margin-bottom: 10px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details {
  display: block;
  margin-bottom: 5px;
}

form .button {
  height: 45px;
  margin-bottom: 10px;
}

form .button button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: colors.$white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: colors.$main;
}

form .button button:hover {
  background: colors.$secondary;
}

form .button button:disabled {
  pointer-events: none;
  opacity: 0.7;
}

.container {
  max-width: 700px;
  width: 100%;
  height: auto;
  background-color: colors.$white;
  margin: 0 20px 20px;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px colors.$black;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.user-details .input-box input {
  width: 100%;
}

.unselectable {
  user-select: none;
}

.form {
  padding: 0.5em 2em 2em 2em;
}

.form-control {
  box-shadow: none;
}

@media (max-width: 584px) {
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .category {
    width: 100%;
  }

  .container {
    max-width: 100%;
  }

  .content form .user-details {
    padding-top: 5px;
    max-height: 450px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
