<mat-card
  *ngIf="reservations.length === 0"
  class="bg-dark border border-white text-white text-center fs-4 mt-4"
>
  <mat-card-content>No hay reservas registradas</mat-card-content>
</mat-card>
<div *ngIf="reservations.length > 0">
  <div class="filter">
    <mat-form-field class="input-box flex-grow-1" hideRequiredMarker="true">
      <mat-label>Búsqueda por Nro. Documento</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="filterRows"
        name="filterPost"
        placeholder="Escribe al menos 3 caracteres..."
        (ngModelChange)="filterReservations()"
      />
    </mat-form-field>
    <mat-form-field class="input-box date-input-box" hideRequiredMarker="true">
      <mat-label>Búsqueda por Fecha</mat-label>
      <input
        matInput
        [(ngModel)]="filterDate"
        name="filterDate"
        type="date"
        (ngModelChange)="filterReservations()"
      />
    </mat-form-field>
  </div>
  <div class="tables-div">
    <mat-card
      *ngIf="
        filteredReservations.length === 0 ||
        filteredReservationsByDocumentID.length === 0
      "
      class="bg-dark border border-white text-white text-center fs-4 mt-2"
    >
      <mat-card-content
        >🔍 No se encontraron resultados para la búsqueda</mat-card-content
      >
    </mat-card>
    <table
      *ngIf="
        filteredReservations.length > 0 &&
        filteredReservationsByDocumentID.length > 0
      "
      class="table table-dark table-hover table-bordered table-sm border border-white text-center"
    >
      <thead>
        <tr>
          <th>Fecha de Reserva</th>
          <th>Vehículo</th>
          <th>Estado</th>
          <th>Fecha Inicio Reserva</th>
          <th>Fecha Fin Reserva</th>
          <th>Devolucion del Vehículo</th>
          <th>Tipo Doc.</th>
          <th>Nro. Doc.</th>
          <th>Precio Final</th>
          <th>Check-in / Check-out</th>
          <th>Cancelar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let reservation of filteredReservations
              | filter : filterRows : 'user.documentID'
          "
        >
          <td>{{ formatDate(reservation.reservationDate ?? "") }}</td>
          <td>{{ getLicensePlate(reservation.vehicle) }}</td>
          <td>
            {{
              reservation.realEndDate
                ? "Finalizada"
                : reservation.cancellationDate
                ? "Cancelada"
                : reservation.initialKms
                ? "Check-in realizado"
                : "Sin iniciar"
            }}
          </td>
          <td>{{ formatDate(reservation.startDate ?? "") }}</td>
          <td>{{ formatDate(reservation.plannedEndDate ?? "") }}</td>
          <td>
            {{
              reservation.realEndDate
                ? formatDate(reservation.realEndDate)
                : reservation.cancellationDate
                ? "Reserva cancelada"
                : "No devuelto"
            }}
          </td>
          <td>{{ getDocumentType(reservation.user) }}</td>
          <td>{{ getDocumentID(reservation.user) }}</td>
          <td>
            {{
              reservation.realEndDate
                ? "$" + reservation.finalPrice
                : reservation.cancellationDate
                ? "Reserva cancelada"
                : "Reserva no finalizada"
            }}
          </td>
          <td>
            <div class="d-flex justify-content-around">
              <button
                id="check-in"
                class="btn btn-dark fs-5"
                (click)="checkInReservation(reservation)"
                [disabled]="
                  reservation.initialKms ||
                  reservation.cancellationDate ||
                  disableCheckIn(reservation)
                "
              >
                <img
                  src="../../../assets/check-in-out/check-in.png"
                  alt="check-in"
                  class="check"
                />
              </button>
              <button
                class="btn btn-dark fs-5"
                (click)="checkOutReservation(reservation)"
                [disabled]="
                  !reservation.initialKms ||
                  reservation.realEndDate ||
                  reservation.cancellationDate
                "
              >
                <img
                  src="../../../assets/check-in-out/check-out.png"
                  alt="check-out"
                  class="check"
                />
              </button>
            </div>
          </td>
          <td>
            <button
              class="btn btn-dark fs-5"
              (click)="cancelReservation(reservation)"
              [disabled]="
                reservation.cancellationDate ||
                disableCancellationAndDeletion(reservation)
              "
            >
              🚫
            </button>
          </td>
          <td>
            <button
              class="btn btn-dark fs-5"
              (click)="deleteReservation(reservation)"
              [disabled]="
                reservation.initialKms ||
                reservation.cancellationDate ||
                disableCancellationAndDeletion(reservation)
              "
            >
              ❌
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
