<div class="d-flex gap-3" style="align-items: stretch">
  <mat-form-field
    class="input-box"
    hideRequiredMarker="true"
    style="flex: 0 0 250px"
  >
    <mat-label>Fecha (entre Inicio y Fin de Reserva)...</mat-label>
    <input matInput [(ngModel)]="filterDate" name="filterDate" type="date" />
  </mat-form-field>
  <button
    class="btn btn-dark border border-white"
    style="height: 56px; flex: 0 0 100px"
    (click)="filterReservations()"
  >
    Filtrar
  </button>
</div>
<div class="div-tablas">
  <table
    class="table table-dark table-hover table-bordered table-sm border border-white text-center reservations-table"
  >
    <thead>
      <tr class="text-danger">
        <th>Fecha de Reserva</th>
        <th>Fecha Inicio Reserva</th>
        <th>Fecha Fin Reserva</th>
        <th>Vehículo</th>
        <th>Estado</th>
        <th>Devolucion del Vehiculo</th>
        <th>Precio Final</th>
        <th>Cancelar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of filteredReservations">
        <td>{{ formatDate(reservation.reservationDate) }}</td>
        <td>{{ formatDate(reservation.startDate) }}</td>
        <td>{{ formatDate(reservation.plannedEndDate) }}</td>
        <td>{{ reservation.vehicle.licensePlate }}</td>
        <td>
          {{
            reservation.realEndDate
              ? "Finalizada"
              : reservation.cancellationDate
              ? "Cancelada"
              : reservation.initialKms
              ? "Check-in realizado"
              : "Sin iniciar"
          }}
        </td>
        <td>
          {{
            reservation.realEndDate
              ? formatDate(reservation.realEndDate)
              : reservation.cancellationDate
              ? "Reserva cancelada"
              : "No devuelto"
          }}
        </td>
        <td>
          {{
            reservation.realEndDate
              ? "$" + calculatePrice(reservation)
              : reservation.cancellationDate
              ? "Reserva cancelada"
              : "Reserva no finalizada"
          }}
        </td>
        <td>
          <div class="d-flex justify-content-around">
            <button
              class="btn btn-dark fs-5"
              (click)="cancelRes(reservation)"
              [disabled]="
                reservation.realEndDate || reservation.cancellationDate
              "
            >
              ❌
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
