#userForm {
  background-color: white;
  padding-bottom: 1em;
}

#fechaNacimiento {
  margin-left: 1.8em;
}

.titulo-registro {
  margin-top: 0.6em;
  margin-left: 1.2em;
  color: #fff;
}

.form {
  padding: 0.5em 2em 2em 2em;
}

.footer {
  background-color: #337ab7;
  color: #fff;
  padding: 0.1em;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}
