<nav class="navbar navbar-expand-lg unselectable">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img
        src="assets/Alquilcar.png"
        alt="Logo"
        width="80"
        height="80"
        class="d-inline-block align-text-top"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-dark" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link texto-blanco" aria-current="page" routerLink="/clients" routerLinkActive="active">Clientes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link texto-blanco" routerLink="/vehicles" routerLinkActive="active">Vehiculos</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <ng-container *ngIf="!isLogged; else loggedIn">
          <li class="nav-item">
            <a class="nav-link texto-blanco" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link texto-blanco" routerLink="/register" routerLinkActive="active">Register</a>
          </li>
        </ng-container>
        <ng-template #loggedIn>
          <li class="nav-item">
            <a class="nav-link texto-blanco" style="cursor: pointer;" (click)="logout()">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link texto-blanco" [routerLink]="profileLink" routerLinkActive="active">Mi Perfil</a>
          </li>
          <li class="nav-item" *ngIf="isAdminOrEmployee">
            <a class="nav-link texto-blanco" routerLink="/staff/reservations" routerLinkActive="active">Menu Staff</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
