<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img
        src="assets/auto-img.png"
        alt="Logo"
        width="65"
        height="65"
        class="d-inline-block align-text-top"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/clientes" routerLinkActive="active">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categories" routerLinkActive="active">Categorías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/marcas" routerLinkActive="active">Marcas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/colores" routerLinkActive="active">Colores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sucursales" routerLinkActive="active">Sucursales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/modelos" routerLinkActive="active">Modelos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vehiculos" routerLinkActive="active">Vehiculos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vehiculosAdmin">Vehiculos admin</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <ng-container *ngIf="!isLogged; else loggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
          </li>
        </ng-container>
        <ng-template #loggedIn>
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
