<mat-card
  *ngIf="vehicles.length === 0"
  class="bg-dark border border-white text-white text-center fs-4 mt-4"
>
  <mat-card-content>No hay vehículos registrados</mat-card-content>
</mat-card>
<div *ngIf="vehicles.length > 0">
  <mat-form-field class="input-box" hideRequiredMarker="true">
    <mat-label>Búsqueda por Patente</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="filterRows"
      name="filterPost"
      placeholder="Escribe al menos 3 caracteres..."
    />
  </mat-form-field>
  <div class="tables-div">
    <mat-card
      *ngIf="filteredVehicles.length === 0"
      class="bg-dark border border-white text-white text-center fs-4 mt-2"
    >
      <mat-card-content
        >🔍 No se encontraron resultados para la búsqueda</mat-card-content
      >
    </mat-card>
    <table
      *ngIf="filteredVehicles.length > 0"
      class="table table-dark table-hover table-bordered table-sm border border-white text-center"
    >
      <thead>
        <tr class="text-danger">
          <th>Patente</th>
          <th>Año de Fabricación</th>
          <th>Km Recorridos</th>
          <th>Modelo</th>
          <th>Color</th>
          <th>Sucursal</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let vehicle of vehicles | filter : filterRows : 'licensePlate'
          "
        >
          <td>{{ vehicle.licensePlate }}</td>
          <td>{{ vehicle.manufacturingYear }}</td>
          <td>{{ vehicle.totalKms }}</td>
          <td>
            {{ getBrandName(vehicle) + " " + getVehicleModelName(vehicle) }}
          </td>
          <td>{{ getColorName(vehicle) }}</td>
          <td>{{ getLocationName(vehicle) }}</td>
          <td class="actions-column">
            <app-action-buttons
              [entity]="vehicle"
              [disableDeletion]="false"
              (editEntity)="editVehicle($event)"
              (deleteEntity)="deleteVehicle($event)"
            ></app-action-buttons>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
