<!DOCTYPE html>
<html> 
    <head>
        <meta lang="es">
        <meta charset="UTF-8">
        <title>BGGJM - Alquila tu auto</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <div class="head">
            <header>
                <nav id="navbar">
                    <ul>
                        <li><a href=""></a>Parte1</li>
                        <li><a href=""></a>Parte2</li>
                        <li><a href=""></a>Parte3</li>
                    </ul>
                </nav>
            </header>
        </div>
        
        <div class="form">
            <form id="">
                <label>Nombre <input type="text"></label>
                <label>Apellido <input type="text"></label>
                <label>Tipo DNI</label>
                <select>
                    <option value="DNI">DNI</option>
                    <option value="Pasaporte">Pasaporte</option>
                    <option value="Libreta">Libreta</option>
                </select>
                <label>DNI <input type="text"></label>
                <label>Mail <input type="email"></label>
                <label>Fecha de nacimiento <input type="date"></label>
                <label>Domicilio <input type="text"></label>
                <label>Telefono <input type="text"></label>
                <label>Nacionalidad <input type="text"></label>
            </form>
        </div>
</body>
</html>
