<div class="container unselectable">
    <div class="title">Perfíl</div>
    <hr>
    <div class="information">
      <div class="information-title">ID de usuario</div>
      <div style="margin-right: 20px;" class="information-content">
        <span>{{id}}</span>
      </div>
      <div class="information-title">Email</div>
      <div class="information-content">
          <span>{{email}}</span>
      </div>
    </div>
    <hr>
    <div class="content">
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="user-details">
  
          <mat-form-field class="input-box" appearance="outline" hideRequiredMarker="true">
            <mat-label>Tipo de Documento</mat-label>
            <mat-select
              id="documentType"
              formControlName="documentType">
              <mat-option value="DNI">DNI</mat-option>
              <mat-option value="Pasaporte">Pasaporte</mat-option>
              <mat-option value="Libreta">Libreta</mat-option>
            </mat-select>
            <mat-error *ngIf="profileForm.get('documentType')?.errors?.required">
              El tipo de documento es requerido.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="input-box" appearance="outline" hideRequiredMarker="true">
            <mat-label>Numero Documento</mat-label>
            <input 
              matInput
              id="documentID"
              class="form-control"
              type="text"
              formControlName="documentID"
              placeholder=""
            >
            <mat-error *ngIf="profileForm.get('documentID')?.errors?.documentIDExists">
              Este numero ya está siendo usado.
            </mat-error>
            <mat-error *ngIf="profileForm.get('documentID')?.errors?.required">
              El numero de documento es requerido.
            </mat-error>
            <mat-error *ngIf="profileForm.get('documentID')?.errors?.pattern">
              El numero de documento no es válido.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="input-box" appearance="outline" hideRequiredMarker="true">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              id="Name"
              class="form-control"
              type="text"
              formControlName="userName"
              placeholder=""
            >
            <mat-error *ngIf="profileForm.get('userName')?.errors?.required">
              El nombre es requerido.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="input-box" appearance="outline" hideRequiredMarker="true">
            <mat-label>Apellido</mat-label>
            <input 
              matInput
              id="Surname"
              class="form-control"
              type="text"
              formControlName="userSurname"
              placeholder=""
            >
            <mat-error *ngIf="profileForm.get('userSurname')?.errors?.required">
              El apellido es requerido.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="input-box" appearance="outline" hideRequiredMarker="true">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input 
              matInput
              id="birthDate"
              class="form-control"
              type="date"
              formControlName="birthDate"
              placeholder=""
            >
            <mat-error *ngIf="profileForm.get('birthDate')?.errors?.required">
              La fecha de nacimiento es requerida.
            </mat-error>
            <mat-error *ngIf="profileForm.get('birthDate')?.errors?.maxDate">
              La fecha de nacimiento es incorrecta.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="input-box" appearance="outline" hideRequiredMarker="true">
            <mat-label>Domicilio</mat-label>
            <input 
              matInput
              id="address"
              class="form-control"
              type="text"
              formControlName="address"
              placeholder=""
            >
            <mat-error *ngIf="profileForm.get('address')?.errors?.required">
              El domicilio es requerido.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="input-box" appearance="outline" hideRequiredMarker="true">
            <mat-label>Teléfono</mat-label>
            <input 
              matInput
              id="phoneNumber"
              class="form-control"
              type="tel"
              formControlName="phoneNumber"
              placeholder=""
            >
            <mat-error *ngIf="profileForm.get('phoneNumber')?.errors?.required">
              El teléfono es requerido.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="input-box" appearance="outline" hideRequiredMarker="true">
            <mat-label>Nacionalidad</mat-label>
            <input 
              matInput
              id="nationality"
              class="form-control"
              type="text"
              formControlName="nationality"
              placeholder=""
            >
            <mat-error *ngIf="profileForm.get('nationality')?.errors?.required">
              La nacionalidad es requerida.
            </mat-error>
          </mat-form-field>
        </div>
        <mat-error *ngIf="errorMessage">
            {{errorMessage}}
        </mat-error>
        <!-- Submit button -->
        <div class="button">
          <button type="submit" [disabled]="profileForm.pending">
            <ng-container *ngIf="!profileForm.pending; else loading">
              Guardar cambios
            </ng-container>
            <ng-template #loading>
              <mat-spinner diameter="30"></mat-spinner>
            </ng-template>
            
          </button>
        </div>
      </form>
    </div>
  </div>